<head>


  <head>
    <link rel="stylesheet"type="text/css" href="../css/index.css">

    <meta>
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <title>Campo minado</title>


    </head>



    <body>
    <audio  autoplay src="../imagens/explosao.mp3"></audio>                 
      <div class="container">
        <a><div class="imagem"><img border="0" src="../imagens/bomba3.png"width="650" height="650"></a></div>


        <div class="link">
         <div class="letter"><center><p class="titulo voltar"> <br> criadores</p></center></div>
         <center><p class="tituloregras dourado"><br> PECRIS ANDRADE <br>
          JESINIEL ARTHUR <br>
          KAUHAN RAFAEL<br>
          DAWIDSON PEREIRA
          <p class='tituloregras'>
          Gleibson <br>
          Moisés <br></p>
          <br><br>
          <p class="tituloregras voltar">Agradecimentos especiais <br><br></p>
          <p class="tituloregras gratidao">BERTONI PAZ <br> SILVIO JOSE</p></center>
          <br>
          <br><br>

          <a href="/" class='voltar'>
            <h3 class="titulo voltar">voltar<h3>
            </a>


          </div>


        </body>


        </html>