<head>


    <head>
        <link rel="stylesheet"type="text/css" href="../css/index.css">      <!--acessando o css por sua pasta</!-->

        <meta>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Campo minado</title>


        </head>



        <body>
        <audio  autoplay src="../imagens/explosao.mp3"></audio>             <!--som de explosão</!-->            
          <div class="container">
              <a><div class="imagem"><img border="0" src="../imagens/bomba3.png"width="650" height="650"></a></div>     <!--imagem de fundo do
                                                                                                                                menu</!-->
              
              
              <div class="link">
                <div class="letter">  
                    <br>
                    <br><br><br>
                    <a class="titulo" href="/nivel/0">jogar</a><br><br><br>             <!--links criados pela tag <a> </!-->
                    <a class="titulo" href="/regras">como jogar</a><br><br><br>
                    <a class="titulo" href="/criadores">criadores</a>
                    <br><br>
                    <br></div>
                </div>
                

            </body>


            </html>