<head>


  <head>
    <link rel="stylesheet"type="text/css" href="../css/index.css">

    <meta>
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <title>Campo minado</title>


    </head>



    <body>
    <audio  autoplay src="../imagens/explosao.mp3"></audio>            <!--autoplay inicia o som assim que o response chega</!-->      
      <div class="container">
        <a><div class="imagem"><img border="0" src="../imagens/bomba3.png"width="650" height="650"></a></div>
        
        
        <div class="linkregra">
          <center><p class="tituloregras"> <br> <br> As regras do Campo Minado são simples:
            Se você descobrir uma mina, o jogo acaba.
            Se descobrir um quadrado vazio, o jogo continua.
            Se aparecer um número, ele informará quantas minas estão escondidas nos oito quadrados que o cercam. Você usa essa informação para deduzir em quais quadrados próximos é seguro clicar. quando o jogador vence, ele passa automaticamente para o próximo nivél.
       <br><br></p>
          <br>
          <a href="/" class='voltar'>             <!--link para voltar</!-->
           <h3 class="titulo voltar">voltar<h3>
           </a>            

         </body>
         </html>